# ignore Go build artifacts
*.o
*.a
*.exe

# ignore the 'kronos' binary
kronos

# ignore vendor directory
vendor/

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# Go modules cache
/go/
/bin/

# pytest cache and output files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.pytest_cache/
*.coverage

# pytest temporary files
*.~1~